---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="JSON-WF - a blogroll interchange format">
  <section class="mb-6">
    <h1 class="text-4xl mb-6">JSON-WF - a blogroll interchange format</h1>
    <p class="mb-6">JSON-WF (JSON for Web Feeds) is a blogroll interchange format that is to JSON what <a href="http://opml.org" target="_blank" rel="noopener noreferer">OPML</a> is to XML.</p>
    <h2 class="text-2xl mb-6">Why?</h2>
    <p class="mb-6">Most online data interchange these days (with APIs being a good example) is done using JSON, possibly with a schema to describe expected keys, values and types. There are far more JSON parsing libraries for every possible programming or scripting language than there are XML parsing libraries, and they tend to be smaller and faster too due to the more limited feature-set.</p>
    <h2 class="text-2xl mb-6">Why not OPML?</h2>
    <p class="mb-6">OPML has been around for a long time, and is a de-facto standard supported by most feed readers for importing and exporting blogrolls. However, its design is much more complex than required for this purpose, and indeed most of that complexity is used not for feed readers but for outliners, its primary focus. The goal is to create a dedicated format for blogroll sharing.</p>
    <h2 class="text-2xl mb-6">Where do I start?</h2>
    <p class="mb-6">The JSON-WF specification is very new, so there are currently no known implementions in feed readers. The advice is - please wait! The aim is to encourage developers of feed readers and other associated applications to add support in time.</p>
    <p class="mb-6">If you run one or more sites that currently use OPML to share blogrolls with readers, please consider also publishing an equivalent JSON-WF file.</p>
    <p class="mb-6">Read the <a href="/spec/">JSON-WF specification</a> to start building or adding support for JSON-WF blogrolls to your website or application.</p>
  </section>
</Layout>
